<div class="row mt-5">
    <div class="col-sm-6 manito">
        <div class=" card border-success m-3" (click)="trayectoriaAcademica()">
            <div class="card-body text-success">
                <h5 class="card-title">Trayectoria Academica</h5>
                <p class="card-text">En esta seccion podra consultar y administrar su trayectoria academica. 
                    Podra identificar de manera rapida el estado de sus materias, inscribirse a las mismas
                    y cargar constancias de cursado para poder acreditar su aprobacion.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 manito" (click)="reclamos()">
        <div class=" card border-success m-3" >
            <div class="card-body text-success">
                <h5 class="card-title">Reclamo</h5>
                <p class="card-text"> En esta seccion podra iniciar reclamos de diversas tematicas, visualizar
                    el avance de los mismos y tener una comunicacion directa con nuestros CENS. Ademas puede
                    realizar denuncias si observa irregularidades. 
                </p>
            </div>
        </div>
    </div>

</div>