<div style="height: 81.5vh;overflow:auto;overflow-x: hidden;"class="d-flex justify-content-center">
<div class="container-fluid m-5 coordinador"routerLink="/administrarcursos">
  <h1>Administrar Cursos</h1>
  <p >Crear cursos nuevos, asignar a los docentes.</p>
    <!-- <div class="col-sm-4" >
        <div class=" card border-success mb-3" style="max-width: 18rem;">
            <div class="btn card-body text-success" >
                <h5 class="card-title">Administrar Cursos</h5>
                <p class="card-text">Crear cursos nuevos, asignar a los docentes.</p>
            </div>
        </div>
    </div>-->
</div>
</div>
