<div class="text-center mt-5">
  <img class="imagen" [src]="finesImg" alt="" />
</div>

<div mt-5>
  <h1><strong>Novedades</strong></h1>
  <hr>
  <div class="row row-cols-1 row-cols-md-1 g-4 p-5">
    <div class="card text-white bg-dark manito ">
      <div class="card-body">
        <h5 class="card-title">13/09/2021 - Inscripcion Abierta</h5>
        <p class="card-text">La inscripcion para el primer cuatrimestre del Plan fines 2 se encuentra abierta. </p>
      </div>
    </div>
    <div class="card text-white bg-dark manito ">
      <div class="card-body">
        <h5 class="card-title">05/08/2021 - Acto Publico Abierto</h5>
        <p class="card-text">Se notifica a los docentes que desde el 23 y hasta el 27 de agosto 
          se encontraran publicadas los cargos para el plan fines 2
        </p>
      </div>
    </div>
    <div class="card text-white bg-dark manito ">
      <div class="card-body">
        <h5 class="card-title">21/07/2021 - Cierre de notas</h5>
        <p class="card-text">Srs. Docentes se les recuerda que deben cerrar las notas y enviarlas a su respectivo 
          CENS antes del 15 de agosto.</p>
      </div>
    </div>
    <div class="card text-white bg-dark manito ">
      <div class="card-body">
        <h5 class="card-title">14/07/2021 - INSCRIPCIÓN 2021 108 A (ampliatorio), 108 B (complementario), Listados 108 A Superior y Artística terciaria y 108 B Superior y Artística terciaria incluídos Fines y Contexto de encierro</h5>
        <p class="card-text">Esta Secretaria, SAD 1 La Plata, informa por archivo adjunto, Comunicación Conjunta 9-2021 Inscripción Listados 108A y B SUP y ART SUP 2021/2022.</p>
      </div>
    </div>
  </div>
</div>