
<header>
  <div class="container">
      <!-- <nav>
          <a href="#" id="icono" class="icono">Menú</a>
          <div class="enlaces uno" id="enlaces">
              <a href="">Inicio</a>
              <a href="">Acerca de</a>
              <a href="">Contacto</a>
          </div>
      </nav> -->
      <div class="textos">
          <h1>Fines ++</h1>
          <h2>Rendí materias adeudadas o cursá los estudios primarios/secundarios completos</h2>
          <a target="_blank" href="https://www.argentina.gob.ar/educacion/fines">Inscripción</a>
      </div>
      <img [src]="finesImg" alt="">
  </div>
</header>
<div class="wave">
  <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>



</div>
<div class="container-fluid novedades " style="height: 550px; overflow: auto;" >
  <div mt-5>
    <h1 style="font-size: 80px;font-family: roboto; color: aliceblue;margin-top: 15px;"><strong>Novedades</strong></h1>
    <hr>
    <div class="row row-cols-1 row-cols-md-1 g-4 p-5">
      <div class="card text-white bg-dark manito2 m-4 ">
        <div class="card-body">
          <h5 class="card-title">13/09/2021 - Inscripcion Abierta</h5>
          <p class="card-text">La inscripcion para el primer cuatrimestre del Plan fines 2 se encuentra abierta. </p>
        </div>
      </div>
      <div class="card text-white bg-dark manito2 m-4 ">
        <div class="card-body">
          <h5 class="card-title">05/08/2021 - Acto Publico Abierto</h5>
          <p class="card-text">Se notifica a los docentes que desde el 23 y hasta el 27 de agosto
            se encontraran publicadas los cargos para el plan fines 2
          </p>
        </div>
      </div>
      <div class="card text-white bg-dark manito2 m-4 ">
        <div class="card-body">
          <h5 class="card-title">21/07/2021 - Cierre de notas</h5>
          <p class="card-text">Srs. Docentes se les recuerda que deben cerrar las notas y enviarlas a su respectivo
            CENS antes del 15 de agosto.</p>
        </div>
      </div>
      <div class="card text-white bg-dark manito2 m-4 ">
        <div class="card-body">
          <h5 class="card-title">14/07/2021 - INSCRIPCIÓN 2021 108 A (ampliatorio), 108 B (complementario), Listados 108 A Superior y Artística terciaria y 108 B Superior y Artística terciaria incluídos Fines y Contexto de encierro</h5>
          <p class="card-text">Esta Secretaria, SAD 1 La Plata, informa por archivo adjunto, Comunicación Conjunta 9-2021 Inscripción Listados 108A y B SUP y ART SUP 2021/2022.</p>
        </div>
      </div>
    </div>
  </div>
</div>





