.card{
  width: 300px;
height: 250px;
max-width: 350px;
max-height: 250px;
}

.card-body{
  cursor: pointer;
}
.card-body{
  box-shadow: 0px 10px 10px black;

}
.card.hover{
transform: scale3d(1.006, 1.006, 1);
}

/* .container{
  background: #1A2980;
  background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
  background: linear-gradient(to right, #26D0CE, #1A2980);
  }
  */
.card-text{
 color: rgb(12, 4, 20);
}
