<div class="container justify-content-between fondo">
<h1 class="text-center titulo" >Mis Cursos</h1>
<hr />
<div class="card-group">
  <div class="row  d-flex p-2 justify-content-between"
  >
    <div
      *ngFor="let curso of cursos; index as i"
      (click)="verDetalle(curso.id)"
      class=" col-lg-3 m-2 "
      style="width: auto;"
    >
      <div class="card border-success mb-3 bg-light manito"
      *ngIf="(curso.estado==cursoContenidoService.vista)"
      >
        <div class="card-body text-success">
          <h5 class="card-title">
             IGE: {{ curso.ige }} - Materia: {{ curso.materia }}
          </h5>
          <hr>
          <p class="card-text">Turno: {{ curso.turno }}</p>
          <p class="card-text">Ciclo lectivo: {{ curso.cicloLectivo }}</p>
          <p class="card-text">Sede: {{ curso.sedeId }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
