<div class="row m-5">
    <div class="col-sm-6" >
        <div class=" card border-success mb-3 bg-light manito"

        (click)="estado('activo')"
        style="max-width: 35rem;">

            <div class="card-body text-success">
              <h3 class="card-title text-center">Mis Cursos Activos</h3>
              <hr>
              <p class="card-text">ver la lista de cursos activos</p>
          </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class=" card border-success mb-3 bg-light manito"

        (click)="estado('inactivo')"
        style="max-width: 35rem;">

            <div class="card-body text-success">
                <h3 class="card-title text-center">Mis Cursos Historicos</h3>
                <hr>
                <p class="card-text">ver la lista de cursos cerrados</p>
            </div>
        </div>
        </div>
    </div>

