<nav class="navbar navbar-expand-lg navbar-dark bd-navbar" style="height: 5rem;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a [routerLink]="['/']" class="navbar-brand ms-4" style="height: auto;font-size:x-large">FinES++</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div *ngIf="rol=='1'" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['alumnohome']">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['trayectoriaAcademica']">Trayectoria
              Academica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link aa" aria-current="page" [routerLink]="['alumnoreclamo']" >Reclamo
              <span class="badge bg-secondary ">1</span></a>
          </li>
        </div>
        <div *ngIf="rol=='2'" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['docentehome']">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="estado(true)" aria-current="page" [routerLink]="['miscursos']">Mis
              Cursos Activos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="estado(false)" aria-current="page" [routerLink]="['miscursos']">Mis
              Cursos Historicos</a>
          </li>
        </div>
        <div
          *ngIf="rol == '3'"
          class="navbar-nav me-auto mb-2 mb-lg-0"
        >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['administrarcursos']">Administrar Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['alumnoreclamo']">Reclamos</a>
          </li>

        </div>
      </ul>
      <form class="d-flex" *ngIf="rol=='0'">
        <input class="form-control me-2" type="text" placeholder="E-mail" [(ngModel)]="usuario">
        <input class="form-control me-2" type="password" placeholder="Contraseña" [(ngModel)]="password">
        <button class="btn btn-outline-secondary me-2 boton cinco" style="height: auto;font-size:medium"  type="submit" (click)="identificarRol()">
          <div class="icono">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
            </svg>
          </div>
          <span>Ingresar</span>
        </button>
      </form>
      <form action="d-flex" *ngIf="rol=='0'">
        <button class="btn btn-outline-dark boton tres" style="height: auto;font-size:medium" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal"
          data-bs-whatever="@mdo"> <span>Crear Cuenta</span> </button>
        <div class="modal fade modal-fullscreen" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva Cuenta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="row">
                    <div class="mb-3 col-sm-6">
                      <label for="nombre" class="col-form-label">Nombre:</label>
                      <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre">
                    </div>
                    <div class="mb-3 col-sm-6">
                      <label for="apellido" class="col-form-label">Apellido:</label>
                      <input type="text" class="form-control" id="apellido" [(ngModel)]="apellido">
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col-sm-6">
                      <label for="dni" class="col-form-label">Numero de DNI:</label>
                      <input type="text" class="form-control" id="dni" [(ngModel)]="dni">
                    </div>
                    <div class="mb-3 col-sm-6">
                      <label for="mail" class="col-form-label">Correo Electronico:</label>
                      <input type="text" class="form-control" id="mail" [(ngModel)]="mail">
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col-sm-6">
                      <label for="contrasenia" class="col-form-label">Contraseña:</label>
                      <input type="password" class="form-control" id="contrasenia" [(ngModel)]="password1">
                    </div>
                    <div class="mb-3 col-sm-6" >
                      <label for="contrasenia2" class="col-form-label">Repita su Contraseña:</label>
                      <input type="password" class="form-control" id="contrasenia2" [(ngModel)]="password2">
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col-sm-6">
                      <label for="telefono" class="col-form-label">Telefono:</label>
                      <input type="text" class="form-control" id="telefono" [(ngModel)]="telefono">
                    </div>
                    <div class="mb-3 col-sm-6">
                      <label for="rol" class="col-form-label">¿Que tipo de usuario es?:</label>
                      <select name="rol" id="rol" class="form-select" [(ngModel)]="tipousuario">
                        <option value="1">Estudiante</option>
                        <option value="2">Docente</option>
                      </select>
                    </div>
                  </div>
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="terminosycondiciones">
                    <label class="form-check-label" for="terminosycondiciones">Acepto los terminos y condiciones</label>
                  </div>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #cerrarmodal>Cerrar</button>
                <button type="button" class="btn btn-primary" id="crearcuenta" name="crearcuenta" (click)="crearCuenta()" >Crear Cuenta</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <form action="d-flex" *ngIf="rol=='0'">
        <button class="btn btn-outline-secondary ms-2 boton seis" style="height: auto;font-size:medium; color: azure;"  type="submit" data-bs-toggle="modal" data-bs-target="#recuperarcontrasenia"
          data-bs-whatever="@mdo">
          <span>Recuperar Contraseña</span>
				<svg>
					<rect x="0" y="0" fill="none"></rect>
				</svg>
        </button>
        <div class="modal fade modal-fullscreen" id="recuperarcontrasenia" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Recuperar Contraseña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="row">
                    <div class="mb-3">
                      <label for="nombre" class="col-form-label">Ingrese el DNI de la cuenta:</label>
                      <input type="text" class="form-control" id="nombre">
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #cerrarmodal>Cerrar</button>
                <button type="button" class="btn btn-primary" id="crearcuenta" name="crearcuenta" (click)="crearCuenta()" >Recuperar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <form *ngIf="rol!='0'">
        <button class="btn btn-outline-secondary boton cuatro" (click)="cerrarsesion()" style="height: 30px;"><span> <i class="fas fa-sign-out-alt"></i>&nbsp;Salir</span> </button>
      </form>
      <div class="jumbotron" style="background-color: rgb(255, 255, 245)">
        <!-- <app-user></app-user>-->
      </div>
    </div>
  </div>
</nav>
