<div style="background-color: white;" class="rounded">
    <div class="border-success aprobada border-success rounded p-0 m-0">
        <div class="row p-5 pt-1">
            <h2 >Resumen de Materia - {{materiaData[0].CursadaEstado}}</h2>
            <hr>
            <div class="col-sm-5">
                <h6>Nivel o Modalidad: FINES 2</h6>
                <h6>IGE: 324432 </h6>
                <h6>Nombre: Matematica</h6>
                <h6>Area: (MAT)</h6>
                <h6>Curso: 1°2°</h6>
                <h6>Nota: 8</h6>
                
            </div>
            <div class="col-sm-5">
                <h6>Año: 2020 </h6>
                <h6>Sede: Cuchuflito</h6>
                <h6>CENS: 465</h6>
                <h6>Turno: Tarde </h6>
                <h6>Jornada: Simple </h6>
                <h6>Dias y horarios: Lunes 13 a 17, Miercoles de 14 a 15</h6>

            </div>
            <div class="col-sm-2 ">
                <button class="btn btn-primary" (click)="volver()" style="width: 100%;">Volver</button>
            </div>
        </div>
    </div>
</div>

<div style="background-color: white;" class="rounded">
    <div class="noCursada border-danger  rounded p-0 m-0">
        <div class="row p-5 pt-1">
            <h2 class="text-danger">Resumen de Materia - {{materiaData[0].CursadaEstado}} </h2>
            <hr>
            <div class="col-sm-5">
                <h6>Nivel o Modalidad: FINES 2</h6>
                <h6>IGE: 324432 </h6>
                <h6>Nombre: Matematica</h6>
                <h6>Area: (MAT)</h6>
                <h6>Curso: 1°2°</h6>
                <h6>Nota: 8</h6>
                
            </div>
            <div class="col-sm-5">
                <h6>Año: 2020 </h6>
                <h6>Sede: Cuchuflito</h6>
                <h6>CENS: 465</h6>
                <h6>Turno: Tarde </h6>
                <h6>Jornada: Simple </h6>
                <h6>Dias y horarios: Lunes 13 a 17, Miercoles de 14 a 15</h6>

            </div>
            <div class="col-sm-2 ">
                <button class="btn btn-primary" (click)="volver()" style="width: 100%;">Volver</button>
            </div>
        </div>
    </div>
</div>


{{id|json}}
{{materiaData|json}}