
    <div class="aprobada border-success rounded ">
        <div class="row p-5 pt-1">
            <h2>Resumen de Materia</h2>
            <hr>
            <div class="col-sm-5">
                <h6>Nombre: Matematica - (MAT)</h6>
                <h5>IGE: 324432 </h5>
                <h5>Año: 2020 </h5>
                <h5>Nombre: </h5>
            </div>
            <div class="col-sm-5">

            </div>
            <div class="col-sm-2 ">
                <button class="btn btn-primary" style="width: 100%;">Volver</button>
            </div>
        </div>
    </div>
