<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Administración de cursos</h2>
    </div>
    <div class="card-body">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#crearCurso">
        Crear curso
      </button>
      <app-crear-curso></app-crear-curso>

      <hr />

      <h3>Ver cursos</h3>

      <p>Seleccione el CENS y sede de la que quiera ver cursos</p>
      
      <div class="row mt-1 align-items-end">
        <div class="col">
          <label class="form-label">CENS</label>
          <select class="form-select" [(ngModel)]="selectedCens" (change)="onCensChange(selectedCens)">
            <option selected>--</option>
            <option *ngFor="let c of cens" [value]="c.Id_Cens">{{c.Nombre}}</option>
          </select>
        </div>
        <div class="col">
          <label class="form-label">Sede</label>
          <select class="form-select" [(ngModel)]="selectedSede">
            <option selected>--</option>
            <option *ngFor="let s of sedes" [value]="s.Id">{{s.SedeNombre}}</option>
          </select>
        </div>
        <div class="col-auto">
          <button class="btn btn-primary mt-3" (click)="verCursos()">Ver cursos</button>
        </div>
      </div>

      <table class="table table-striped table-sm align-middle mt-3">
        <thead>
          <tr>
            <th scope="col">IGE</th>
            <th scope="col">Materia</th>
            <th scope="col">Ciclo lectivo</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of cursos">
            <td>{{c.Ige}}</td>
            <td>{{c.Materia}}</td>
            <td>{{c.CiloLectivo}}</td>
            <td class="text-center">
              <button class="btn {{c.DocenteId == -1 ? 'btn-warning': 'btn-primary'}}" data-bs-toggle="modal"
                attr.data-bs-target="#cursoDetalleModal{{c.Id_Curso}}">
                {{c.DocenteId == -1 ? 'Asignar docente': 'Detalle'}}
              </button>
            </td>
            <app-detalle-curso [curso]="c"></app-detalle-curso>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
