<div class=" rounded border-warning" style="background-color: white;">
    <div class="fondo border-dager rounded p-0 m-0 border-warning">
        <div class="p-5 pt-1 row mt-2" style="padding-bottom: 0%;">
            <h2> Inscripcion a Materia</h2>
            <hr>
            <div class="col-sm-4">
                <strong>Nivel o Modalidad:</strong> FINES 2 <br>
                <strong>Nombre de la Materia:</strong> {{materiadata.NombreMateria}} <br>
            </div>
            <div class="col-sm-4">
                <strong> Area:</strong> {{materiadata.CodigoMateria}} <br>
                <strong>Curso/Año:</strong> {{materiadata.Anio}}°{{materiadata.Cuatrimestre}}° <br>
            </div>
            <div class="col-sm-4">
                <strong>Jornada:</strong> Simple <br>
                <strong>Carga Horaria:</strong> {{materiadata.CargaHoraria}} horas semanales <br>
            </div>
        </div>
        <div class="row p-5 pt-1  ">
            <div class="col-sm-4">
                <label for="Localidad" class="form-label">Seleccione una Localidad</label>
                <select id="Localidad" class="form-select" #loc (change)="seleccionLocalidad(loc.value)">
               <!--</select> (ngModelChange)="seleccionLocalidad($event)"
                [ngModel]="selectLocalidad" -->
                    <option selected="true" disabled="disabled" [selected]="true" >Seleccione una Localidad . . .</option>
                    <option [value]="item.Localidad" *ngFor="let item of localidades"
                    >{{item.Localidad}}</option>
                </select>
             </div>
            <div class="col-sm-4">
                <label for="sede" class="form-label">Seleccione un Sede</label>
                <select id="sede" class="form-select" [disabled]='sededisabled' #sede (change)="seleccionarSede(sede.value)">
                    <option selected="true" disabled="disabled" [selected]="true">Seleccione la sede. . . </option>
                    <option [value]="item.Id_Curso" *ngFor="let item of sedeobject" >{{item.SedeNombre}} - {{item.SedeDireccion}} - {{item.DiayHorario}} </option>

                </select>
            </div>
            <div class="col-sm-4">

                <strong> Dias y Horarios:</strong> {{selectSede.DiayHorario}} <br>
                <strong> Direccion:</strong> {{selectSede.SedeDireccion}} <br>
                
                <strong> CENS:</strong> {{selectSede.Cens}} <br>
            </div>
        </div>
        <div class="row p-5 pt-1 ">
            <button class="btn btn-success" [disabled]="inscribirmeDisabled" (click)="inscribirme()">Inscribirme</button>
        </div>
    </div>

</div>


