.badge{
  cursor: pointer;
}
.container-fluid{
  background-color: rgb(255, 255, 255);

}
.manito:hover {
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
}
.table td {
  text-align: center;
}
.table th {
  text-align: center;
}
.cursor{
  cursor: pointer;
}
.circulo{
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 0 4px 0 4px;
  width: 27px;
}
.fa-database{
  color: green;
}
.fa-ban{
  color: red;
}

.detalle-curso{
  width: 95%;
  height: 80%;

  background-repeat: no-repeat;
  text-align: right;
  padding: 10px;

  background: #bc4e9c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f80759, #bc4e9c);
background-image: url(/assets/doc2.jpg);
background-size: cover;
background-color:rgba(0, 0, 0, 0.9);
position: relative



}
h1{
  text-align: center;
  color: white;
}


.detalle-curso:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
}
.detalle-curso h1{
	font-size: 60px;
	color: #fff;
	position: relative;
  text-align: center;
}
.detalle-curso .col-6{
	font-size: 23px;
	color: #fff;
	position: relative;
  text-align: right;
}
dd{
	font-size: 23px;
	color: #fff;
	position: relative;
  text-align: left;
}
.boton
{
  background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 20px;
}
.abrir
{ background: -webkit-linear-gradient(to right, #5bfa33, #ebe155);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5bfa33, #ebe155);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.cerrar
{ background: -webkit-linear-gradient(to right, #f82a0f, #c55551);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f82a0f, #c55551); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
