<div class="modal fade" id="cursoDetalleModal{{curso.Id_Curso}}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalles del curso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <strong>IGE:</strong> {{curso.Ige}}<br />
        <strong>Ciclo lectivo:</strong> {{curso.CiloLectivo}}<br />
        <strong>Materia:</strong> {{curso.Materia}}<br />
        <strong>Año:</strong> {{curso.Anio}}<br />
        <strong>Cuatrimestre:</strong> {{curso.Cuatrimestre}}<br />
        <div *ngIf="curso.DocenteId != -1; else sinDocente">
          <strong>Docente:</strong> {{apellidoNombreDocente}}
        </div>
        <ng-template #sinDocente>
          <p><strong>Docente:</strong> SIN ASIGNAR</p>
          <label class="form-label">Buscar docente por DNI</label>
          <div class="row">
            <div class="col">
              <input type="number" class="form-control"
                min="0" max="99999999" [(ngModel)]="dni" />
            </div>
            <div class="col-auto">
              <button (click)="buscarDocente(dni)"
                class="btn btn-primary">
                Buscar
            </button>
            </div>
          </div>
          <p class="mt-2" *ngIf="docenteExiste; else noEncontrado">
            <strong>Encontrado:</strong> {{docente.Apellido}}, {{docente.Nombre}}
            <button (click)="asignarDocente()" class="btn btn-primary ms-2">
              Asignar docente
            </button>
          </p>
          <ng-template #noEncontrado>
            <p>Inexistente</p>
          </ng-template>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>