/* You can add global styles to this file, and also import other style files */
.manito{
    cursor: pointer;
}
.manito:hover{
    opacity: 0.7;
}

.aprobada{
background-color: rgba(13, 223, 30, 0.308);
}
.noCursada{
background-color: rgba(255, 0, 0, 0.300);

}
.enCurso{
    background-color: rgba(238, 255, 0, 0.308);
    color:rgb(182, 148, 0);


    }