body{
  background: #1A2980;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.titulo {
  font-family: 'Potta One', cursive;
  text-align: center;
}

.manito{
    cursor: pointer;
}
.manito:hover{
    opacity: 0.7;
}

.aprobada{
background-color: rgba(13, 223, 30, 0.308);
}
.noCursada{
background-color: rgba(255, 0, 0, 0.300);

}
.enCurso{
    background-color: rgba(238, 255, 0, 0.308);
    color:rgb(182, 148, 0);


    }
